altair==5.3.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.2
xgboost==2.1.1
shap==0.46.0
plotly==5.24.1
matplotlib==3.9.2
seaborn==0.13.2
scipy==1.14.1
joblib==1.4.2
requests==2.32.3
streamlit==1.41.0
prophet==1.1.5
duckdb==1.0.0
fastapi==0.115.0
pydeck==0.9.1
pyarrow==17.0.0
